@inject HttpClientService httpClientService
@using Microsoft.AspNetCore.WebUtilities
@using System.Web

@if(Message.MessageType == MessageTypeDTO.PulseExercise)
{
    
}
else if(Message.MessageType == MessageTypeDTO.Question)
{
    <div class="Message @Styling" style="@(Message.MessageType == MessageTypeDTO.Question ? "align-self: center; text-align: center;" : string.Empty)">
        @Message.Text
            <div class="AnswerSection">
                @foreach(var answer in Message.Answers)
                {
                    <button @onclick="async() => await ChooseAnswerForQuestion(Message.Text, answer)">
                        @answer
                    </button>
                }
            </div>
    </div>
}
else if(Message.MessageType == MessageTypeDTO.SpecialInformation)
{
    <div class="Message DargeboteneHand" style="align-self: center;">
        @Message.Text
        @if (Message.Bot)
        {
            <span>Bot generiert</span>
        }
    </div>
}
else if(Message.MessageType == MessageTypeDTO.Voice)
{
    <div class="Message" style="@(Message.MessageSenderType == MessageSenderTypeDTO.Patient ? "align-self: flex-start;" : "align-self: flex-end;")">
       <audio style="height: 60px; width: 190px;" controls src="@("data:audio/webm;base64," + Message.Base64Data)"></audio>
        @if (Message.Bot)
        {
            <span>Bot generiert</span>
        }
    </div>
}
else
{
    <div class="Message @Styling">
        @Message.Text
        @if (Message.Bot)
        {
            <span>Bot generiert</span>
        }
    </div>
}



@code {
    [Parameter]
    public MessageDTO Message { get; set; }

    [Parameter]
    public ChatDTO chat { get; set; }

    [CascadingParameter] 
    public IModalService Modal { get; set; } = default;

    [Parameter]
    public EventCallback CallBack { get; set; }

    private bool ModalOpened = false;

    protected override async Task OnParametersSetAsync()
    {
        if (Message.MessageType == MessageTypeDTO.PulseExercise && !ModalOpened)
        {
            ModalOpened = true;
            OpenExerciseModal();
        }
    }

    private async Task ChooseAnswerForQuestion(string question, string answer)
    {
        await httpClientService.PostToAPIAsync<MessageDTO>($"/chats/{chat.Id}/{answer}", Message);
        if (CallBack.HasDelegate)
        {
            await CallBack.InvokeAsync(this);
        }
    }

    private string Styling => (Message.MessageSenderType, Message.Bot) switch
    {
        (MessageSenderTypeDTO.Patient, _) => "Patient",
        (_, true) => "DargeboteneHand Bot",
        _ => "DargeboteneHand"
    };

    private void OpenExerciseModal()
    {
        Modal.Show<BreathingExercise>();
    }
}
